src/main/resources/wsdl/ODSService.wsdl

<?xml version="1.0" encoding="windows-1252"?>
<wsdl:definitions targetNamespace="http://odsservice.ibm.com" xmlns:impl="http://odsservice.ibm.com"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <schema targetNamespace="http://odsservice.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="updateCitizenCaseStatus">
                <complexType>
                    <sequence>
                        <element name="accessUserId" nillable="true" type="xsd:string"/>
                        <element name="caseId" nillable="true" type="xsd:string"/>
                        <element name="citizenCaseStatus" nillable="true" type="xsd:string"/>
                        <element name="eventType" nillable="true" type="xsd:string"/>
                        <element name="eventCode" nillable="true" type="xsd:string"/>
                        <element name="eventSource" nillable="true" type="xsd:string"/>
                        <element name="eventDescription" nillable="true" type="xsd:string"/>
                        <element name="eventDescription_EN" nillable="true" type="xsd:string"/>
                        <element name="eventDescription_SV" nillable="true" type="xsd:string"/>
                        <element name="timeUpdated" nillable="true" type="xsd:dateTime"/>
                        <element name="timeCreated" nillable="true" type="xsd:dateTime"/>
                    </sequence>
                </complexType>
            </element>
            <element name="updateCitizenCaseStatusResponse">
                <complexType>
                    <sequence>
                        <element name="updateCitizenCaseStatusReturn" type="xsd:int"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="updateCitizenCaseStatusRequest">
        <wsdl:part element="impl:updateCitizenCaseStatus" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateCitizenCaseStatusResponse">
        <wsdl:part element="impl:updateCitizenCaseStatusResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="ODSServicePort">
        <wsdl:operation name="updateCitizenCaseStatus">
            <wsdl:input message="impl:updateCitizenCaseStatusRequest" name="updateCitizenCaseStatusRequest"/>
            <wsdl:output message="impl:updateCitizenCaseStatusResponse" name="updateCitizenCaseStatusResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ODSServiceSoapBinding" type="impl:ODSServicePort">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="updateCitizenCaseStatus">
            <wsdlsoap:operation soapAction="updateCitizenCaseStatus"/>
            <wsdl:input name="updateCitizenCaseStatusRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateCitizenCaseStatusResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ODSServiceService">
        <wsdl:port binding="impl:ODSServiceSoapBinding" name="ODSService">
            <wsdlsoap:address location="http://localhost:80/CoHODSServices/services/ODSService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>